<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="store">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>ٍStore</ion-label>
    </ion-tab-button>
    
    <!-- <ion-tab-button tab="items">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button> -->
    
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Scehdule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trade-requests">
      <ion-icon name="file-tray-outline"></ion-icon>
      <ion-label>Trade Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employees">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Employees</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
