<ion-header>
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title size="large">Stock</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-searchbar placeholder="Search by item name or supplier" [(ngModel)]="filterTerm" animated></ion-searchbar>
  </ion-item>
  <ion-list>
    
    <ion-item *ngFor="let sItem of fb.allStoreItems | filter:filterTerm " [color]="sItem.quantity<sItem.threshold? 'danger' : null" (click)="editStoreItem(sItem)">
      <ion-checkbox slot="start" [checked]="checkItem(sItem)" (ionChange)="toggleItem(sItem)"></ion-checkbox>
      <ion-label>
        <h1>{{sItem.item.name}}</h1>
        <h3>{{sItem.item.price}}</h3>
        <p>{{sItem.item.supplier.name}}</p>
      </ion-label>
      <ion-label slot="end">
        <h1>Qty: {{sItem.quantity}}</h1>
        <h1>Threshold: {{sItem.threshold}}</h1>
      </ion-label>
      <ion-button (click)="openOrderModal(sItem)" slot="end" *ngIf="sItem.quantity<sItem.threshold">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>



  
  <ion-modal [isOpen]="orderModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Order More {{currentStoreItem.item.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeOrderModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input type="number" [(ngModel)]="orderQuantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price: {{orderPrice}}</ion-label>
        </ion-item>
        <ion-button expand="block" (click)="orderMore()">Order</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>

<!-- Sticky Update -->
<ion-footer *ngIf="selectedItems.length>0">
    <ion-item>
      <ion-label class="ion-text-wrap">Update threshold for the selected items</ion-label><br>
      <ion-input type="number" [(ngModel)]="newThreshold"></ion-input>
      <ion-buttons slot="end">
        <ion-button fill="solid" exapnd="block" (click)="updateSlots()">Update</ion-button>
      </ion-buttons>
    </ion-item>
</ion-footer>