<ion-header>
  <ion-toolbar>
    <ion-title>store</ion-title>
    <ion-select placeholder="Select supplier" slot="end" [(ngModel)]="filterTerm" >
      <ion-select-option  *ngFor="let p of fb.Item ">
        {{p.supplier}}
      </ion-select-option>
    </ion-select>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated></ion-searchbar>
  </ion-item>

<!--
  <ion-list>
    <ion-item *ngFor="let i of fb.Item  | filter:filterTerm">
      <ion-label>{{i.supplier}}</ion-label>
      
    </ion-item>
  </ion-list>
-->
  <ion-list>

   
    <ion-card *ngFor="let p of fb.Item | filter:filterTerm">

      <ion-card-header>
        <ion-card-title>{{p.name}}</ion-card-title> 
      </ion-card-header>

          <ion-card-content>
              <ion-row class="ion-align-item-center">
                    <ion-col size="8">
                          <ion-label>
                            <b>{{p.supplier}}</b>
                            <br>
                            <b> {{p.price | currency :'USD'}} </b>
                          </ion-label>
                    </ion-col>

                <ion-col size="4" class="ion-text-right">
                      <ion-button>
                        <ion-icon name="add"></ion-icon>
                      </ion-button>
                </ion-col>
              </ion-row>
          </ion-card-content>
    </ion-card>

     <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="openModal()">
        <div>3 <!--{{fb.cartItemcount |async }}--></div>
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>


  </ion-list>
</ion-content>
