<ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Orders</h1>
<ion-card>
  <ion-card-header>
    <ion-card-title>Item Name</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-label>
          <b> price </b>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <b> quantity </b>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
