<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-segment [(ngModel)]="seg">
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="delivered">
        <ion-label>Delivered</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openImportModal()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openExportModal()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orders</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="seg=='pending'">
  <ion-card *ngFor="let order of pendingOrders">
    <ion-card-header>
      <ion-card-title>
        {{order.date | date: 'medium'}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <b> Items </b>
            </ion-label>
          </ion-col>
    
          <ion-col >
            <ion-label >
              <b> Total </b>
            </ion-label>
          </ion-col>

          <ion-col >
            <ion-label >
              <b> Status </b>
            </ion-label>
          </ion-col>

        </ion-row>
        <ion-row>
  
        <ion-col class="ion-align-self-center">
            <ion-row *ngFor="let item of order.items">
              {{item.name}}
            </ion-row>
         </ion-col>
    
         <ion-col class="ion-align-self-center">
          <ion-label>
            {{order.total}}
          </ion-label>
         </ion-col>

         <ion-col class="ion-align-self-center">
          <ion-label [color]="getStatusColor(order.status)">
            {{order.status}}
          </ion-label>
         </ion-col>

        </ion-row>
      </ion-grid>

      <ion-button (click)="confirmDelivery(order)" color="success" expand="block">
        <ion-icon name="repeat-outline"></ion-icon>
        Mark as Delivered
      </ion-button>

    </ion-card-content>
  </ion-card>
  </div>

  <div *ngIf="seg=='delivered'">
  <ion-card *ngFor="let order of ordersHistory">
    <ion-card-header>
      <ion-card-title>
        {{order.date | date: 'medium'}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <b> Items </b>
            </ion-label>
          </ion-col>
    
          <ion-col >
            <ion-label >
              <b> Total </b>
            </ion-label>
          </ion-col>

          <ion-col >
            <ion-label >
              <b> Status </b>
            </ion-label>
          </ion-col>

        </ion-row>
        <ion-row>
  
        <ion-col class="ion-align-self-center">
            <ion-row *ngFor="let item of order.items">
              {{item.name}}
            </ion-row>
         </ion-col>
    
         <ion-col class="ion-align-self-center">
          <ion-label>
            {{order.total}}
          </ion-label>
         </ion-col>

         <ion-col class="ion-align-self-center">
          <ion-label [color]="getStatusColor(order.status)">
            {{order.status}}
          </ion-label>
         </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </div>

    <!-- Export JSON Modal -->
    <ion-modal [isOpen]="exportModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Export Items as JSON</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeExportModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          
            <ion-item>
              <ion-textarea auto-grow="true" [(ngModel)]="exportJSON"></ion-textarea>
            </ion-item>
            
          </ion-content>
      </ng-template>
    </ion-modal>
  
    <!-- Import JSON Modal -->
    <ion-modal [isOpen]="importModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Import Items as JSON</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeImportModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            
          <ion-label>Enter JSON format</ion-label>
          <ion-textarea auto-grow="true" [(ngModel)]="importJSON"></ion-textarea>
          <ion-button expand="block" (click)="importItems()">Import</ion-button>
          </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
