<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="loginUser()">Login</ion-button>
      <div class="ion-text-center">Don't have an account? <a routerLink="/register">Register</a></div>
    </ion-col>
  </ion-row>
</ion-content>