<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="favorites" (ionChange)="updateOrders()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openImportModal()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openExportModal()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orders</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card *ngFor="let order of showingOrders">
    <ion-card-header>
      <ion-card-title>
        <ion-icon color="primary" [name]="order.isFavorite? 'star' : 'star-outline'"></ion-icon>
        {{order.items[0].supplier.name}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <b> Items </b>
            </ion-label>
          </ion-col>
    
          <ion-col >
            <ion-label >
              <b> Total </b>
            </ion-label>
          </ion-col>

          <ion-col >
            <ion-label >
              <b> Status </b>
            </ion-label>
          </ion-col>

        </ion-row>
        <ion-row>
  
        <ion-col class="ion-align-self-center">
            <ion-row *ngFor="let item of order.items">
              {{item.name}}
            </ion-row>
         </ion-col>
    
         <ion-col class="ion-align-self-center">
          <ion-label>
            {{order.total}}
          </ion-label>
         </ion-col>

         <ion-col class="ion-align-self-center">
          <ion-label [color]="getStatusColor(order.status)">
            {{order.status}}
          </ion-label>
         </ion-col>

        </ion-row>
      </ion-grid>

      <ion-buttons>
        <ion-button fill="solid" expand="block" (click)="showOrderInfo(order)">
          <ion-icon name="eye-outline"></ion-icon>
          View Order Info
        </ion-button>
        <ion-button fill="solid" (click)="toggleFavorite(order)">
          <span *ngIf="order.isFavorite">Remove from favorites</span>
          <span *ngIf="!order.isFavorite">Add to favorites</span>
        </ion-button>
      </ion-buttons>
      <ion-button (click)="orderAgain(order)" expand="block" *ngIf="favorites=='favorites'">
        <ion-icon name="repeat-outline"></ion-icon>
        Order Again
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- New Order Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openOrderModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Order Modal -->
  <ion-modal [isOpen]="orderModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Order details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeOrderInfo()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label>Supplier: {{currentOrder.items[0].supplier.name}} </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Date: {{currentOrder.date | date: 'dd/MM/yyyy'}} </ion-label>
          </ion-item>
          
          <ion-item>
            <ion-label>Items: <span *ngFor="let item of currentOrder.items"> {{item.name}}</span></ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Total Price: {{currentOrder.total | currency: 'BHD '}} </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Status: </ion-label>
            <ion-label [color]="getStatusColor(currentOrder.status)">
              {{currentOrder.status}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Number of times ordered: {{currentOrder.orderTimes}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Export JSON Modal -->
  <ion-modal [isOpen]="exportModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Export Items as JSON</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeExportModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
          <ion-item>
            <ion-textarea auto-grow="true" [(ngModel)]="exportJSON"></ion-textarea>
          </ion-item>
          
        </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Import JSON Modal -->
  <ion-modal [isOpen]="importModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Import Items as JSON</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeImportModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          
        <ion-label>Enter JSON format</ion-label>
        <ion-textarea auto-grow="true" [(ngModel)]="importJSON"></ion-textarea>
        <ion-button expand="block" (click)="importItems()">Import</ion-button>
        </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
