<ion-header>
  <ion-toolbar>
    <ion-title>Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let e of fb.employees" lines="full">
    <ion-label (click)="showEmpInfo(e)">
      <h1>{{e.name}}</h1>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="showEmpSch(e)">
        Show Schedule
      </ion-button>
    </ion-buttons>
  </ion-item>


  <!-- Employee Schedule Modal -->
  <ion-modal [isOpen]="empModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="hideEmpSch()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-list-header>
              {{selectedEmp.name}}'s Schedule
          </ion-list-header>
          <ion-item *ngFor="let slot of selectedEmpSlots">
            <ion-label>
              <h1>{{slot.date | date: 'EEEE, dd/MMM'}}</h1>
              {{slot.startTime | date: 'h:mm a'}} &mdash; {{slot.endTime | date: 'h:mm a'}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

    <!-- Employee Schedule Modal -->
    <ion-modal [isOpen]="empInfoModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="hideEmpInfo()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-list-header>
                {{selectedEmp.name}}
            </ion-list-header>

            <ion-item>
              <ion-label position="floating">Name: </ion-label>
              <ion-input type="text" [(ngModel)]="selectedEmp.name"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Email: {{selectedEmp.email}}</ion-label>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Phone: </ion-label>
              <ion-input type="number" [(ngModel)]="selectedEmp.phone"></ion-input>
            </ion-item>
          
            <ion-button expand="block" (click)="updateUser()">Update</ion-button>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

</ion-content>
