<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let slot of slots">
      <ion-card-content>
        <ion-grid>
              <ion-row>
                <ion-col class="day-date"> {{slot.date | date: 'EEEE, dd/MMM'}} </ion-col>
              </ion-row>
              <ion-row >
                <ion-col class="time_FromTo"> {{slot.startTime | date: 'h:mm a'}} &mdash; {{slot.endTime | date: 'h:mm a'}}</ion-col>
              </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
