<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="seg">
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label>History</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="seg=='pending'">
    <h1 *ngIf="pendingReqs.length==0" class="ion-text-center">No pending requests for the moment</h1>
    <ion-item *ngFor="let r of pendingReqs" lines="full">
      <ion-label class="ion-text-wrap">
        <h1>From {{r.receiver.name}}  to {{r.sender.name}}</h1>
        <p>{{r.slot.date | date: 'EEEE, dd/MMM'}}</p>
        {{r.slot.startTime | date: 'h:mm a'}} &mdash; {{r.slot.endTime | date: 'h:mm a'}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="success" (click)="approveTradeRequest(r)">
          Approve
        </ion-button>
        <ion-button fill="solid" color="danger" (click)="rejectTradeRequest(r)">
          Reject
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>

  <div *ngIf="seg=='history'">
    <h1 *ngIf="doneReqs.length==0" class="ion-text-center">No requests in the history</h1>
    <ion-item *ngFor="let r of doneReqs" lines="full">
      <ion-label>
        <h1>From {{r.receiver.name}}  to {{r.sender.name}}</h1>
        <p>{{r.slot.date | date: 'EEEE, dd/MMM'}}</p>
        {{r.slot.startTime | date: 'h:mm a'}} &mdash; {{r.slot.endTime | date: 'h:mm a'}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="success" *ngIf="r.status=='approved'">
          Approved
        </ion-button>
        <ion-button fill="solid" color="danger" *ngIf="r.status=='rejected'">
          Rejected
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
</ion-content>
