<ion-header>
  <ion-toolbar>
    <ion-title>Shifts Trade Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shifts Trade Requests</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>Pending Requests</ion-list-header>
    <ion-item *ngFor="let r of pendingReqs">
      <ion-label class="ion-text-wrap">
        <h1>From {{r.receiver.name}}  to {{r.sender.name}}</h1>
        <p>{{r.slot.date | date: 'EEEE, dd/MMM'}}</p>
        {{r.slot.startTime | date: 'h:mm a'}} &mdash; {{r.slot.endTime | date: 'h:mm a'}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="success" (click)="approveTradeRequest(r)">
          Approve
        </ion-button>
        <ion-button fill="solid" color="danger" (click)="rejectTradeRequest(r)">
          Reject
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Requests History</ion-list-header>
    <ion-item *ngFor="let r of doneReqs">
      <ion-label>
        <h1>From {{r.receiver.name}}  to {{r.sender.name}}</h1>
        <p>{{r.slot.date | date: 'EEEE, dd/MMM'}}</p>
        {{r.slot.startTime | date: 'h:mm a'}} &mdash; {{r.slot.endTime | date: 'h:mm a'}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="success" *ngIf="r.status=='approved'">
          Approved
        </ion-button>
        <ion-button fill="solid" color="danger" *ngIf="r.status=='rejected'">
          Rejected
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
