<ion-header translucent="true">

  <ion-toolbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- (click)="presentFilter()" -->
        Filter
        <!-- <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schedule</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar> -->
  </ion-header>

  <ion-card *ngFor="let slot of shownSlots"  >
        <ion-card-header> 
              <ion-card-title color="secondary" >{{slot.employee.name}}</ion-card-title> 
        </ion-card-header>

    <ion-card-content >
      
      <ion-grid>

            <ion-row>
              <ion-col class="day-date"> {{slot.date | date: 'EEEE, dd/MMM'}} </ion-col>
            </ion-row>

            <ion-row >
              <ion-col class="time_FromTo"> {{slot.startTime | date: 'h:mm a'}} &mdash; {{slot.endTime | date: 'h:mm a'}}</ion-col>
            </ion-row>

      </ion-grid>
        
    </ion-card-content>
  </ion-card>

  <ion-list-header [hidden]="shownSlots.length > 0">
    No Slots Found
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="assModal=true">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!-- Shift Assignment Modal -->
  <ion-modal [isOpen]="assModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title></ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="assModal=false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-list-header>
              Assign Shift to Employee
          </ion-list-header>

          <ion-item>
            <ion-label>Select Date</ion-label>
            <ion-input id="selectedDate" value="{{ selectedDate | date: 'dd/MM/yyyy' }}" class="ion-text-end"></ion-input>
            <ion-popover trigger="selectedDate" size="cover">
              <ng-template>
                <ion-datetime [min]="minDate" presentation="date" [(ngModel)]="selectedDate"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-input id="selectedStartTime" value="{{ selectedStartTime | date: 'h:mm a' }}" class="ion-text-end"></ion-input>
            <ion-popover trigger="selectedStartTime" size="cover">
              <ng-template>
                <ion-datetime [hourValues]="hourValues" presentation="time" [(ngModel)]="selectedStartTime"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label>End Time</ion-label>
            <ion-input id="selectedEndTime" value="{{ selectedEndTime | date: 'h:mm a' }}" class="ion-text-end"></ion-input>
            <ion-popover trigger="selectedEndTime" size="cover">
              <ng-template>
                <ion-datetime [hourValues]="hourValues" presentation="time" [(ngModel)]="selectedEndTime"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label>Employee</ion-label>
            <ion-select [(ngModel)]="selectedEmployee" interface="popover">
              <ion-select-option *ngFor="let e of fb.employees" [value]="e">{{e.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-button (click)="assignSlot()" expand="block" *ngIf="selectedDate && selectedStartTime && selectedEndTime && selectedEmployee">Assign Shift</ion-button>

        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
