<ion-header>
  <ion-toolbar>
    <ion-title>Items in Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items in Store</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let sItem of fb.allStoreItems" [color]="sItem.quantity<sItem.threshold? 'danger' : ''" (click)="editStoreItem(sItem)">
      <ion-checkbox slot="start" [checked]="checkItem(sItem)" (ionChange)="toggleItem(sItem)"></ion-checkbox>
      <ion-label>
        <h1>{{sItem.item.name}}</h1>
        <h3>{{sItem.item.price}}</h3>
        <p>{{sItem.item.supplier.name}}</p>
      </ion-label>
      <ion-label slot="end" >
        <h1>Qty: {{sItem.quantity}}</h1>
        <h1>Threshold: {{sItem.threshold}}</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedItems.length>0">
    <ion-item>
      <ion-label class="ion-text-wrap">Update selected items threshold</ion-label><br>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-button exapnd="block">Update</ion-button>
  </div>
</ion-content>
