<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Select a supplier</ion-label>
    <ion-select interface="popover" [(ngModel)]="selectedSup">
      <ion-select-option *ngFor="let s of fb.suppliers" [value]="s"> {{s.name}} </ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="(selectedSup | json) != ({} | json)">
    <ion-item lines="full">
      <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated></ion-searchbar>
    </ion-item>

    <ion-card *ngFor="let item of fb.allItems | filter:filterTerm">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-justify-content-center">
        <ion-checkbox slot="start" (ionChange)="toggleItem(item)"></ion-checkbox>
        <ion-grid>
          <ion-row>

            <ion-col>
                <b> Supplier </b>
            </ion-col>

            <ion-col>
                <b> Price per unit </b>
            </ion-col>
            
            <ion-col >
                <b> Items Per Cartoon </b>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col>
                {{item.supplier.name}}
            </ion-col>

            <ion-col>
                {{item.price | currency:'BHD '}}
            </ion-col>
            
            <ion-col >
                {{item.itemsPerCartoon}}
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab *ngIf="selectedItems.length>0" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openOrderModal()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="orderModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>New order for {{selectedSup.name}} </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeOrderModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-item-group *ngFor="let item of selectedItems">
            <ion-item-divider>
              <ion-label>{{item.name}}</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Number of Cartoons:</ion-label>
              <ion-input type="number" [(ngModel)]="item.noOfCartoons" (ionChange)="updateTotal()"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Items Per Cartoon: {{ item.itemsPerCartoon }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Price ber unit: {{ item.price | currency:'BHD ' }}</ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-label>Price: {{ item.price * item.noOfCartoons? | currency:'BHD ' }}</ion-label>
            </ion-item> -->
          </ion-item-group><br>
          <ion-item>
            <ion-label>Total</ion-label>
            <ion-label>{{ total | currency:'BHD ' }}</ion-label>
          </ion-item>
        
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title><ion-button expand="block" (click)="confirmOrder()">Place Order</ion-button></ion-title>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
  
</ion-content>