<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Your name</ion-label>
    <ion-input [(ngModel)]="name" placeholder="Your name"></ion-input>
  </ion-item>

  
  <ion-list>
     <!-- #*ngFor="let p of cart"--> 
    <ion-item  class="ion-text-wrap">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="ion-align-self-center">
             <!--(click)="decreaseCartItem(p)" --> 
            <ion-button color="medium" fill="clear" >
              <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="1" class="ion-align-self-center">
          <!--{{ p.amount }} -->  1
          </ion-col>

          <ion-col size="2" class="ion-align-self-center">
            <ion-button color="medium" fill="clear" ><!--(click)="increaseCartItem(p)" --> 
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="2" offset="5">
            <!--#(click)="removeCartItem(p)" --> 
            <ion-button color="medium" fill="clear" >
              <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
           <!--  #{{ p.name }} --> 2
            <b> </b>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
           <!--  '{{ p.amount * p.price | currency:'USD' }}'-->50$
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            Total:
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            50$  <!--{{ getTotal() | currency:'USD' }} --> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>